/.metadata/
Project_Excersises/.classpath
Project_Excersises/.project
Project_Excersises/.settings/org.eclipse.jdt.core.prefs
Project_Excersises/src/Computer.java
Project_Excersises/src/ComputerTest.java
Project_Excersises/src/ComputerTestTest.java
Project_Excersises/src/module-info.java
Computer/.classpath
Computer/.project
Programming_Excersise/.project
Programming_excersises/.project
